:root {
    --br: 12px;
    --pad: 36px;
    --primary-color: hsl(208, 45%, 18%);
    --primary-dark: hsl(206, 100%, 8%);
    --light-text: hsla(0, 0%, 100%, 90%);
    --secondary-color: hsl(35, 36%, 48%);
    --secondary-dark: hsl(35, 36%, 39%);
    --secondary-light: hsl(35, 36%, 70%);
    --gray-bg: hsl(0, 0%, 87%);
    --white-bg: hsl(0, 0%, 96%);
    --gray-border: hsl(0, 0%, 80%);
}

h1 {
    font-size: 48px;
}

input.h1 {
    font-size: 36px;
    width: 10em;
}

h2 {
    font-size: 36px;
}

input.h2 {
    font-size: 24px;
}

h3 {
    font-size: 28px;
}

input.h3 {
    font-size: 22px;
}

h4 {
    font-size: 22px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 18px;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--primary-color);
}

input {
    font-size: 16px;
    border: 2px solid var(--secondary-light);
    border-radius: 12px;
    padding: 5px 12px 4px;
}

input[type="email"] {
    width: 14em;
}

input[type="url"] {
    width: 18em;
}

input::placeholder {
    color: #aaa;
}

button {
    font-size: 16px;
    color: var(--secondary-dark);
    border: 2px solid var(--secondary-light);
    background-color: var(--white-bg);
    border-radius: 12px;
    padding: 5px 12px 4px;
}

hr {
    border: none;
    border-top: 2px solid var(--secondary-light);
    margin-left: -4px;
    margin-right: -2px;
}


.App {
    padding: 12px;
    display: grid;
    justify-content: center;
    background-color: var(--gray-bg);
}

.App > main {
    width: max(500px, 70vw);
    border-radius: var(--br) var(--br) 0 0;
    border: 2px solid var(--gray-border);
    background-color: var(--white-bg);
    /*box-shadow: 0 0 4px hsla(0, 0%, 50%, 50%);*/
}

.EducationInfo, .WorkInfo {
    padding: var(--pad);
    /*background-color: white;*/
}

.BasicInfo {
    display: grid;
    border-radius: var(--br) var(--br) 0 0;
    /*background-color: var(--dark-blue);*/
    /*color: var(--light-text);*/
}

.basicInfoTop {
    display: grid;
    grid-template-columns: auto auto;
    padding: var(--pad);
    gap: 30px;
}

.basicInfoLeft {
    display: grid;
    gap: 12px;
    justify-content: start;
    /*width: 100%;*/
}

.Avatar {
    width: 180px;
    height: 180px;
    border-radius: 1000px;
    border: 2px solid var(--primary-color);
    display: grid;
    place-items: center;
    overflow: hidden;
}

.PersonalStatement textarea {
    font-size: 16px;
    width: 50rem;
    height: 7rem;
}

.contactInfo {
    font-size: 16px;
    grid-column: 1 / 3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    justify-content: space-around;
    background-color: var(--primary-color);
    color: var(--light-text);
    padding: 16px var(--pad);
}

.contactInfo .BasicInfoField {
    /*text-align: center;*/
}

.CityState {
    display: flex;
    /*justify-content: center;*/
    align-items: baseline;
}

.CityState > * {
    display: inline-flex;
    justify-content: center;
    text-align: center;
}

.sectionHeading {
    color: var(--secondary-color);
}

.experienceForm {
    background-color: var(--gray-bg);
    padding: 24px;
    display: grid;
    gap: 12px;
}

.experienceFormRow {
    display: flex;
    align-items: center;
    gap: 12px;
}

.experienceListItem {
    border-left: 2px dashed var(--gray-border);
    padding-left: 12px;
    margin: 12px 0 18px 0px;
}

.Occupation {
    color: var(--secondary-color);
}

.iconifyIcon {
    font-size: 22px;
    vertical-align: -4px;
    margin-right: 10px;
}

.showFormButton {
    margin-top: 12px;
}