:root {
    --br: 12px;
    --pad: 16px;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 18px;
}

.App {
    padding: 12px;
    display: grid;
    justify-content: center;
    background-color: #ddd;
}

.App > main {
    width: max(500px, 70vw);
}

.BasicInfo, .EducationInfo, .WorkInfo {
    border: 1px solid #ccc;
    padding: var(--pad);
    background-color: white;
}

.BasicInfo {
    display: flex;
    justify-content: space-between;
    border-radius: var(--br) var(--br) 0 0;
}

.BasicInfoRight > * {
    text-align: right;
}

.CityState > * {
    display: inline-block;
}

.EducationForm {
    background-color: #eee;
    padding: var(--pad);
}

.educationFormRow {
    margin: 12px 0;
}

input.h2 {
    font-size: 24px;
}